.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 5vh;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.sinopsis-on {
  opacity: 10%;
}

.sinopsis {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-5%, -50%);
  font-size: small;
}

.cont-ku {
  position: relative;
  text-align: center;
}

.title-normal {
  font-size: 2vw;
}

.title-long {
  font-size: 1.5vw;
}

#watchlistBtn {
  position: absolute;
  top: 1%;
  left: 40%;
}